body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the navbar */
  nav {
    background-color: #ea2121;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 20px;
  }
  
  .company-name {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
  }
  
  .nav-links li {
    margin-right: 40px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: solid;
  }
  
  .nav-links a:hover {
    text-decoration: double;
    color:wheat;
  }
  
  
  h1 {
    padding: 20px;
    font-size: 40px;
    color: #ea2121;
  }

  