body {
    background-color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: sticky; 
    top: 50%;
    left: 50%;
    
    
    }
    aside {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: lightcoral;
        color: aliceblue;
    }
    
    h1, h2 {
        color: purple;
        margin-bottom: 20px;
    }
    
    p {
        color: lightgrey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
    }
    
    ul, li {
        color: #2222224b;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
    /* style for link */
    a {
        color: #ffff;
        text-decoration: none;
    }
    a:hover {
        color: #ec043b74;
    }
    /* style for footer */
    footer {
    
        font-size: 10px;
        font-style:oblique;
        color: #96d307c9;
        padding: 10px;
    }